<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Grocery List{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('datepicker') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('datepicker') }}
        {% endblock %}
    </head>
    <body>
        {% include 'header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'footer.html.twig' %}  
    </body>
</html>
