<header>
	<div class="wrapper clear">
	<div id="intro-text">
		<h1>Grocery.Me</h1>
		<h3>Organized. Simple. Mine.</h3>
	</div>
	<!--<nav>
		<h3 id="top-nav"><a href="#">Login</a> <span>|</span> <a href="#">Register</a></h3>
	</nav>-->
	</div>
</header>