<header>
	<div class="wrapper clear">
	<div id="intro-text">
		<h1>Grocery.Me</h1>
		<h3>Organized. Simple. Mine.</h3>
	</div>
	<nav>
		{% if app.user %}
		    <h3 id="top-nav">
		    	<span>You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a></span>
		    </h3>
		{% endif %}
	</nav>
	</div>
</header>