{% extends 'base.html.twig' %}

{% block title %}Client Sign In{% endblock %}

{% block body %}

<div class="enclosure">
    <main class="wrapper clear">
    {% block main %}{% endblock %}
    </main>    
</div>
{% endblock %}
